* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    background-color: lightgray;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    border-radius: 10px;
}

.book-container {
    background-color: grey;
    width: 300px;
    height: 600px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.image {
    width: 100%;
}

.nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 20px;
}

.Layout{
    width: 80vw;
    margin: 0 auto;
}